<body class="bg-gray-200 min-h-screen text-black flex items-center justify-center p-4">
  <div class="bg-white rounded-2xl shadow-lg p-6 md:p-8 w-full max-w-6xl h-[90vh] flex flex-col relative">

    <!-- Título da Pokédex -->
    <h1 class="text-4xl md:text-5xl lilita-one-regular text-center text-shadow text-purple-600 mb-6">
      Pokedex
    </h1>

    <!-- Barra de pesquisa -->
    <div class="mb-4">
      <input type="text" [(ngModel)]="searchTerm" (input)="onSearchTermChange()"
        placeholder="Search by pokedex number or pokemon..."
        class="montserrat w-full p-3 rounded-full border border-gray-300 text-black focus:outline-none focus:ring-2 focus:ring-purple-500"
        aria-label="Search Pokémon" />
    </div>

    <!-- Link para abrir a pesquisa avançada -->
    <div class="text-right lilita-one-regular mb-4">
      <button (click)="showAdvancedSearch = true" class="text-purple-600 hover:underline text-sm">
        Advanced search?
      </button>
    </div>

    <!-- Card com os detalhes sobre o pokémon selecionado -->
    <div class="flex-1 overflow-hidden relative transition-all duration-300 flex"
      [ngClass]="selectedPokemonId ? 'flex-row gap-6' : 'flex-col gap-0'" #scrollContainer
      (scroll)="onScroll(scrollContainer)" style="height: calc(90vh - 140px);">

      <!-- Grid de Pokémons -->
      <div class="flex-1 overflow-y-auto pr-1">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
          @for (pokemon of displayedPokemons; track pokemon.id) {
          
            <!-- Card do Pokémon -->
          <div
            class="pokemon-card bg-white rounded-xl shadow-md p-4 text-center relative hover:shadow-xl transition duration-200 cursor-pointer"
            (click)="selectPokemon(pokemon.id)">

            <!-- ID do Pokémon -->
            <span class="absolute top-2 left-2 text-sm text-gray-500 font-semibold">
              #{{ pokemon.id }}
            </span>

            <!-- Sprite + Altura/Peso -->
            <div class="flex justify-center items-center gap-4 mb-2">
              <img [src]="'data:image/png;base64,' + pokemon.spriteBase64" alt="{{ pokemon.name }}"
                class="h-24 w-24 object-contain" />
              <div class="text-left montserrat text-sm text-gray-700">
                <p><strong>Height:</strong> {{ pokemon.height }} m</p>
                <p><strong>Weight:</strong> {{ pokemon.weight }} kg</p>
              </div>
            </div>

            <!-- Tipos -->
            <div class="flex flex-wrap montserrat justify-center gap-2 mb-2">
              @for (type of pokemon.type; track type) {
              <span [ngClass]="getTypeColor(type)"
                class="font-medium text-sm capitalize px-3 py-1 rounded-full bg-white shadow">
                {{ type }}
              </span>
              } @empty {
              <span>No types</span>
              }
            </div>

            <!-- Nome -->
            <h2 class="text-lg lilita-one-regular font-semibold capitalize">
              {{ pokemon.name }}
            </h2>
          </div>
          } @empty {
          <p class="montserrat text-center text-gray-500">No Pokémon found.</p>
          }
        </div>

        <!-- Botão "Carregar mais" -->
        @if (!loading && !endReached) {
        <div class="flex justify-center mt-4">
          <button (click)="loadPokemons()"
            class="bg-purple-600 text-white px-6 py-2 rounded-full hover:bg-purple-700 transition">
            Load more
          </button>
        </div>
        }

        <!-- Componente loading -->
        @if (loading) {
        <app-loading class="mt-4 flex justify-center"></app-loading>
        }

        <!-- Mensagem quando todos os Pokémon foram carregados -->
        @if (endReached && !loading) {
        <p class="montserrat text-center text-gray-500 mt-2">All Pokémon have been loaded.</p>
        }
      </div>

      <!-- Card detalhes -->
      <div *ngIf="selectedPokemonId"
        class="w-full md:w-[380px] bg-white rounded-2xl shadow-lg p-6 overflow-y-auto sticky top-0 self-start"
        style="max-height: calc(90vh - 250px);">
        <button (click)="selectedPokemonId = null"
          class="absolute top-2 right-2 text-gray-500 hover:text-red-700 text-3xl"
          aria-label="Close details">&times;</button>

        <app-pokemon-details [pokemonId]="selectedPokemonId"></app-pokemon-details>
      </div>
    </div>

    <!-- Modal de Pesquisa Avançada -->
    @if (showAdvancedSearch) {
    <div class="fixed inset-0 bg-black bg-opacity-40 flex items-center justify-center z-50">
      <div class="bg-white rounded-2xl shadow-lg p-6 w-full max-w-md relative">

        <button (click)="showAdvancedSearch = false"
          class="absolute top-2 right-2 text-gray-500 hover:text-red-700 text-3xl">&times;</button>

        <h2 class="text-3xl lilita-one-regular text-center text-purple-700 mb-4">Advanced search</h2>

        <!-- Tipos -->
        <div class="mb-4">
          <label class="block font-semibold lilita-one-regular text-purple-700 mb-1">Type:</label>
          <div class="flex flex-wrap gap-2">
            @for (type of availableTypes; track type) {
            <button class="shadow montserrat" (click)="toggleTypeSelection(type)" [ngClass]="[
                    selectedTypes.includes(type)
                      ? 'bg-purple-700 text-white'
                      : 'bg-white ' + getTypeColor(type),
                    'px-3 py-1 rounded-full text-sm capitalize hover:opacity-80 transition'
                  ]">
              {{ type }}
            </button>
            } @empty {
            <span>No types available.</span>
            }
          </div>
        </div>

        <!-- Habilidade -->
        <div class="mb-4">
          <label class="block font-semibold lilita-one-regular text-purple-700 mb-1">Ability:</label>
          <input [(ngModel)]="advancedSearch.ability" placeholder="Ex: telepathy"
            class="w-full p-2 montserrat border rounded-md border-gray-300" />
        </div>

        <!-- Movimento -->
        <div class="mb-4">
          <label class="block font-semibold lilita-one-regular text-purple-700 mb-1">Move:</label>
          <input [(ngModel)]="advancedSearch.move" placeholder="Ex: draco-meteor"
            class="w-full p-2 montserrat border rounded-md border-gray-300" />
        </div>

        <!-- Região -->
        <div class="mb-4">
          <label class="block font-semibold lilita-one-regular text-purple-700 mb-1">Region:</label>
          <select [(ngModel)]="advancedSearch.region" class="montserrat w-full p-2 border rounded-md border-gray-300">
            <option value="">All regions</option>
            @for (region of regions; track region) {
            <option [value]="region">{{ region }}</option>
            } @empty {
            <option disabled>No regions available.</option>
            }
          </select>
        </div>

        <!-- Botões -->
        <div class="flex justify-between">
          <button (click)="resetAdvancedSearch()"
            class="bg-gray-500 text-white px-4 py-2 rounded-full hover:bg-red-600 transition">
            Clear
          </button>
          <button (click)="applyAdvancedSearch()"
            class="bg-purple-500 text-white px-4 py-2 rounded-full hover:bg-purple-700 transition">
            Apply
          </button>
        </div>
      </div>
    </div>
    }


    
  </div>

</body>