<body class="bg-gray-200 min-h-screen text-black flex items-center justify-center p-4">
  <div class="bg-white rounded-2xl shadow-lg p-6 md:p-8 w-full max-w-6xl h-[90vh] overflow-y-auto">

    <!-- Título da Pokédex -->
    <h1 class="text-4xl md:text-5xl lilita-one-regular text-purple-500 mb-6">
      Pokedex
    </h1>

    <!-- Barra de pesquisa -->
    <div class="mb-4">
      <input type="text" [(ngModel)]="searchTerm" placeholder="Search pokémons..."
        class="w-full p-3 rounded-full border border-gray-300 text-black focus:outline-none focus:ring-2 focus:ring-purple-500"
        aria-label="Search Pokémon" />
    </div>

    <!-- Grid de pokémons -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
      <div *ngFor="let pokemon of filteredPokemons; trackBy: trackPokemon">
        <div class="bg-white rounded-xl shadow-md p-4 text-center relative hover:shadow-xl transition duration-200">
          <!-- ID do Pokémon -->
          <span class="absolute top-2 left-2 text-sm text-gray-500 font-semibold">
            #{{ pokemon.id }}
          </span>

          <!-- Sprite + Altura/Peso -->
          <div class="flex justify-center items-center gap-4 mb-2">
            <!-- Imagem -->
            <img [src]="'data:image/png;base64,' + pokemon.spriteBase64" alt="{{ pokemon.name }}"
              class="h-24 w-24 object-contain" />

            <!-- Altura e Peso -->
            <div class="text-left text-sm text-gray-700">
              <p><strong>Height:</strong> {{ pokemon.height }} m</p>
              <p><strong>Weight:</strong> {{ pokemon.weight }} kg</p>
            </div>
          </div>


          <!-- Tipos -->
          <div class="flex flex-wrap justify-center gap-2 mb-2">
            <span *ngFor="let type of pokemon.type" [ngClass]="getTypeColor(type)"
              class="font-medium text-sm capitalize px-3 py-1 rounded-full bg-white shadow">
              {{ type }}
            </span>
          </div>

          <!-- Nome -->
          <h2 class="text-lg lilita-one-regular font-semibold capitalize">
            {{ pokemon.name }}
          </h2>
        </div>
      </div>
    </div>
    
  </div>
</body>